#accordions {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion-item {
    width: 50%;
    margin: 10px;
    border: 1px solid;
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

.accordion-header {
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

.accordion-content {
    display: none;
    margin: 50px;
}

.arrow-icon {
    font-size: 30px;
    transition: transform 0.3s ease;
}